
* {
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #EBEBEB;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", sans-serif;
  display: inline;
}

code, pre {
    font-family: "Helvetica", monospace;
}

main, footer {
  width: 100vw;
  padding: 15px 5%;
  box-sizing: border-box;
}

header {
  color: #A2ACB7;
  background-color:#EBEBEB;
  width: 100vw;
}


header .content {
  padding: 15px 5%;
  vertical-align: center;
  line-height: 40px;
  border-bottom: 1px solid black;
  text-align: right;
}

header h1 {
  font-size: 20px;
  display: inline;
  font-weight: 500;
  color: #222222;
}

header h1 a {
  text-decoration: none;
  color: inherit;
}

header .right {
  float: right;
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
}

nav, .nav-wrapper {
  width: 100vw;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  box-sizing: border-box;
  background-color: white;
}

nav {
  padding: 0 5%;
  border-bottom: 1px solid black;
  text-align: right;
}

nav.fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  border-bottom: none;
}

nav a {
  color: #A2ACB7;
  display: inline;
  padding: 0 3%;
  border-right: 1px solid #EBEBEB;
  text-align: center;
  text-decoration: none;

}

nav a:first-child {
  padding-left: 0;
}

nav a:nth-last-child(2) {
  border-right: none;
}

nav a:last-child {
  border: none;
  padding-right: 0;
}

main {
  padding: 25px 5% 50px 5%;
  background-color: #EBEBEB ;
}

main .content {
  margin: 0 auto;
}


main.three-column {
  column-count: 3;
  column-gap: 5px;
}

main ul {
  list-style: none;
}

main ul li, main section {
  list-style: circle;
  background-color: white ;
  border: 3px solid black;
  margin-bottom: 20px;
  padding: 25px 25px;
  width: 80%;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
}

main ul li{
  text-align: justify;
}

main ul li img{
  max-height: 150px;
  max-width: 250px;
  text-align: center;
}
main ul li a{
  position: relative;
  top: 50%;
  bottom: 50%;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color:black ;
  text-decoration: none;
}

main section {
  width: 95%;
  margin-bottom: 20px;
}

main section h3 {
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}
/*
main section ol {
  margin-left: 30px;
}

main section ol li a {
  text-decoration: none;
  color: rgb(251, 13, 192);
}
*/

main section ul li {
  border: none;
  padding: 0;
  display: block;
  margin-bottom: 0;
}

.bullets li {
  display: list-item;
}

main ul li code {
  background-color: #F9F9F9;
  color: black;
  padding: 4px;
  text-decoration: none;
}


footer {
  background-color:#292929;
  color: #9A9A9A;
  font-size: 12px;
  padding-top: 25px;
}

footer.stuck {
  position: absolute;
  bottom: 0;
}

.name {
  font-family: "Times New Roman", sans-serif;
  padding-left: 30px;
  font-size: 15 px;
  text-align: center;

}